<config>
	<db>
		<db_name>IR</db_name>
		<db_format>sqlite3</db_format>
		<db_loc>indexes</db_loc>				
		<db_tables>
			<table name="InvIndex">
				<Description>Holds the terms inverted index for the document list</Description>
				<attr>
					<col1>term</col1>>
					<col2>term_value</col2>
				</attr>
			</table>
			<table name="DocIndex">
				<Description>Holds the index over the document base</Description>
				<attr>
					<col1>docID</col1>
					<col2>doc_value</col2>
					<col3>TITLE</col3>
					<col4>AUTHOR</col4>
					<col5>BIBLIO</col5>
				</attr>
			</table>
		</db_tables>
	</db>
	<json>
		<term_value>
			<dI>
				<Description>Refers to the Document Index</Description>
				<data_type>vector</data_type>
			</dI>
			<dC>
				<Description>Refers to the document specific characteristics</Description>
				<data_type>json</data_type>
			</dC>
		</term_value>
		<dC>
			<docID>
				<f>
					<Description>The frequency of the occurence of the term in the particular docID</Description>
					<data_type>int</data_type>
				</f>
				<p>
					<Description>These are the position at which the term occurs in the particular docID</Description>
					<data_type>vector</data_type>
				</p>
			</docID>
		</dC>
		<doc_value>
			<l>
				<Description>Holds the location of the file, in this case Filename</Description>
				<data_type>string</data_type>
			</l>
			<n>
				<Description>Holds the number of terms present in the particular docID, only in the text part of it</Description>
				<data_type>int</data_type>
			</n>
		</doc_value>
	</json>
	<input>
		<input_location></input_location>
		<input_type>XML</input_type>
	</input>
	<compression>
		<term_value>gzip</term_value>
	</compression>
</config>
